In [10]:
import pandas_datareader as pdr

data = pdr.get_data_alphavantage("NVDA", api_key='EnTeRYoUrApIKeYhErE')
# Summarize
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5034 entries, 2002-02-25 to 2022-02-18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    5034 non-null   float64
 1   high    5034 non-null   float64
 2   low     5034 non-null   float64
 3   close   5034 non-null   float64
 4   volume  5034 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 236.0+ KB
None

In [11]:
data

               open    high     low   close    volume
2002-02-25   50.150   54.22   50.14   53.83  13329700
2002-02-26   55.010   55.95   53.55   55.00  15855600
2002-02-27   56.250   56.49   53.00   53.15  14360200
2002-02-28   52.800   53.75   50.56   51.01  13212000
2002-03-01   51.500   56.00   51.35   55.94  10928300
...             ...     ...     ...     ...       ...
2022-02-14  239.340  248.75  237.55  242.67  44042443
2022-02-15  249.490  265.45  247.84  264.95  70175280
2022-02-16  262.590  265.82  255.52  265.11  73267633
2022-02-17  256.300  257.85  241.65  245.07  81059508
2022-02-18  246.675  249.86  231.00  236.42  75617020

[5034 rows x 5 columns]